tempFolder/
TempDownload/
*/**/EFI
*/**/EFI*
EFI*
*/**/*.json
*/**/*.zip
generatedCertificate/*.auth
generatedCertificate/*.esl
generatedCertificate/*.key
generatedCertificate/*.pem
generatedCertificate/*.txt
files/certificate/*.*